<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>macaron1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,2},{610,571}}</string>
			<key>offset</key>
			<string>{-1,-63}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,164},{610,571}}</string>
			<key>sourceSize</key>
			<string>{688,773}</string>
		</dict>
		<key>macaron1-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{626,599}}</string>
			<key>offset</key>
			<string>{0,50}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,37},{626,599}}</string>
			<key>sourceSize</key>
			<string>{688,773}</string>
		</dict>
		<key>macaron1-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1242,2},{610,561}}</string>
			<key>offset</key>
			<string>{10,56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,50},{610,561}}</string>
			<key>sourceSize</key>
			<string>{688,773}</string>
		</dict>
		<key>macaron2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,575},{596,523}}</string>
			<key>offset</key>
			<string>{4,-56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,181},{596,523}}</string>
			<key>sourceSize</key>
			<string>{688,773}</string>
		</dict>
		<key>macaron2-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1242,565},{578,559}}</string>
			<key>offset</key>
			<string>{19,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,111},{578,559}}</string>
			<key>sourceSize</key>
			<string>{688,773}</string>
		</dict>
		<key>macaron2-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,603},{634,519}}</string>
			<key>offset</key>
			<string>{-20,-54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,181},{634,519}}</string>
			<key>sourceSize</key>
			<string>{688,773}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>macaron.png</string>
		<key>size</key>
		<string>{1854,1126}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:65429ad9427851f0531e976762733d99:5baa2706824fff325d305c6a9b9b5c7b:f0251232c9ac328d9f4f67dbe0481c30$</string>
		<key>textureFileName</key>
		<string>macaron.png</string>
	</dict>
</dict>
</plist>
